/* general */

* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  margin: 20px auto;
  width: 800px;
}

/* links */

a,
a:visited {
  color: black;
}

a:hover,
a:focus {
  color: #444;
}

pre {
  overflow: auto;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
    'Lucida Typewriter', monospace;
  line-height: 1.25em;
  background-color: #eee;
  margin: 0;
  padding: 0;
}

pre:empty {
  display: none;
}

canvas {
  display: inherit;
  margin: 0;
  padding: 0;
  touch-action: none;
  width: 400px;
  height: 400px;
}

/* specifics */

.header {
  height: 29px;
  font-size: 29px;
  margin-bottom: 30px;
}

.header div,
.header span,
.header a {
  font-weight: 500;
}

#mode {
  font-weight: 800;
}

.top {
  display: flex;
  flex-direction: row;
}

.filler {
  flex-grow: 1;
}

.values {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  width: 390px;
}

.values div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.values div:first-child {
  margin-top: 0px;
}

.buttons {
  margin-top: 10px;
}

.buttons * {
  line-height: 30px;
  display: inline-block;
}

.sourceview {
  margin-top: 10px;
  padding: 0;
  max-height: 200px;
  overflow: auto;
}

/* phone */

@media (hover: none) and (max-width: 480px) {
  * {
    font-size: 16px;
    line-height: 32px;
    padding: 2px;
    margin: 2px;
    max-width: 380px;
  }

  html {
    padding: 0;
    margin: 0;
    max-width: 400px;
    width: 400px;
  }

  body {
    padding: 0;
    margin: 0;
    max-width: 400px;
    width: 400px;
  }

  .top {
    flex-direction: column;
  }

  canvas {
    width: 380px;
    height: 380px;
  }
}

/* copyright */

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

.footer-style {
  padding: 10px;
  text-align: right;
  filter: drop-shadow(0 0 4px white) drop-shadow(0 0 4px white)
    drop-shadow(0 0 4px white) drop-shadow(0 0 4px white);
  font-weight: 300;
}

.footer-style a {
  font-weight: 300;
  pointer-events: fill;
}
